<app-header></app-header>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <!-- <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a
        jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div>  -->
  <!-- /container -->
  <!-- s
  <div class="md-form mb-4 pink-textarea active-pink-textarea">
    <i class="fas fa-angle-double-right prefix"></i>
    <textarea id="form21" class="md-textarea form-control" rows="3"></textarea>
  </div> -->
  <div class="wrapper">
    <div *ngIf="messageSent" class="alert alert-success">
      <strong>Success!</strong> Your Opinion Has been Successfully sent.
    </div>
    <h1>Give Me the Openion which thing should i improve Or Leave </h1>
    <textarea name="the-textarea" id="the-textarea" maxlength="300" placeholder="Start Typin..."autofocus></textarea>
    <div id="the-count">
      <span id="current">0</span>
      <span id="maximum">/ 300</span>
    </div>
    <button mat-flat-button color="primary" (click)="sendMessage()">Send</button>
  </div>
  
  <!-- <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button> -->
</main>


<!-- <footer class="container">
  <p>© Company 2017-2018</p>
</footer> -->

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->